.todel{ background-color:#8bbfe4 ;}/*blue*/
.trg{ background-color:#b17ea5; }
.wip{ background-color:#e9e269 ;}
.cmp{ background-color: #85cb7a;}/*green*/
.torec{background-color:#ef962d ;}
.ProcStsborder{ border-radius: 20px;}
.doubtful {background-color:red ;}